* {
    box-sizing: border-box;
}
body {
    color: #333;
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}
a {
    text-decoration: none;
}
i {
    color: inherit;
}